ion-toolbar .sc-ion-searchbar-ios-h {
    padding-top: 0;
    padding-bottom: 0;
}

.mt-30 {
    margin-top: 30px;
}

.font-xlarge {
    font-size: 90px;
}

.icon {
    position: absolute;
    top: 48px;
    width: 160px;
}